.page {
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1em;
    text-transform: capitalize;
  }
}

html, body {
  &.theme--dark {
    .page {
      &__title {
        color: #E7E7E7;
      }
    }
  }

  &.theme--light {
    .page {
      &__title {
        color: #333333;
      }
    }
  }
}